
{% extends "oscar/layout_2_col.html" %}

{% load store_category_tags %}
{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% load display_tags %}
{% load image_tags %}
{% load reviews_tags %}


{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ summary }}</li>
        </ol>
        </p>
    </nav>
{% endblock breadcrumbs %}


{% block content %}


{% get_categories as categories %}
{% for data in categories %}
{% with products=data.product category=data.category %}
<section class="product-area li-{{category.name}} pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <a href="{{category.get_absolute_url}}">{{category.name}}</a>
                        <!-- <span></span> -->
                    </h2>
                    <!-- <ul class="li-sub-category-list">
                        <li class="active"><a href="shop-left-sidebar.html">Prime Video</a></li>
                        <li><a href="shop-left-sidebar.html">Computers</a></li>
                        <li><a href="shop-left-sidebar.html">Electronics</a></li>
                    </ul> -->
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {% for product in products %}
                        <div class="col-lg-12">
                            <!-- start  -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    {% block product_image %}
                                    <!-- <div class="image_container w-100"> -->
                                        {% with image=product.primary_image %}
                                            {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                                            </a>
                                        {% endwith %}
                                    <!-- </div> -->
                                {% endblock %}
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <!-- <h5 class="manufacturer">
                                                <a href="shop-left-sidebar.html">Studio Design</a>
                                            </h5> -->
                                            {% block product_review %}
                                            {% iffeature "reviews" %}
                                            <div class="rating-box">
                                                <ul class="rating {{ product.rating|as_stars }}">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            {% endiffeature %}
                                            {% endblock %}
                                        </div>
                                        <h4>
                                            {% block product_title %}
                                            <!-- <h3 class="mt-3"> -->
                                                <a class="product_name" href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
                                                    {{ product.get_title|truncatewords:4 }}
                                                </a>
                                            <!-- </h3> -->
                                        {% endblock %}
                                        </h4>
                                        {% block product_price %}
                                        <div class="price-box">
                                            <span class="new-price">
                                            <!-- <div class="product_price w-100"> -->
                                                {% include "oscar/catalogue/partials/stock_record.html" %}
                                            <!-- </div> -->
                                        </span>
                                        </div>
                            
                                        {% endblock %}
                                    </div>

                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart" >
                                                {% if not product.is_parent and not product.has_options %}
                                                {% include "oscar/catalogue/partials/store_add_to_basket_form_compact.html" %}
                                            {% endif %}
                                            </li>
                                            <!-- <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li> -->
                                            <!-- <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end  -->

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
{% endwith %}

{% endfor %}

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
