{% load i18n %}



            <ul class="ht-menu">
                {% if user.is_authenticated %}
                {% block nav_account_navbar_authenticated %}
                    <li >
                        {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}" class="nav-link mt-2 mt-lg-0">
                                <i class="fa fa-user mr-2"></i>
                                {% trans "Account" %}
                                <span class="badge badge-warning">{{ num_unread_notifications }}</span>
                            </a>
                        {% else %}
                            <a href="{% url 'customer:summary' %}" class="nav-link mt-2 mt-lg-0">
                                <i class="fa fa-user mr-2"></i>
                                {% trans "Account" %}
                            </a>
                        {% endif %}
                    </li>
                    {% if user.is_staff or perms.partner.dashboard_access %}
                        <li>
                            <a href="{% url 'dashboard:index' %}" class="nav-link">
                                <i class="fa fa-list-ul mr-2"></i>
                                {% trans "Dashboard" %}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a id="logout_link" href="{% url 'customer:logout' %}" class="nav-link">
                            <i class="fa fa-sign-out mr-2"></i>
                            {% trans "Logout" %}
                        </a>
                    </li>
                {% endblock %}
                {% else %}
                    <li>
                        <a id="login_link" href="{% url 'customer:login' %}" class="nav-link">
                            <i class="fa fa-sign-in mr-2"></i>
                            {% trans "Login or register" %}
                        </a>
                    </li>
                {% endif %}
            </ul>
