{% load currency_filters %}
{% load category_tags %}
{% load i18n %}



{% category_tree as tree_categories %}
{% if tree_categories %}
{% for tree_category in tree_categories %}
{{tree_category.prod}}
{% endfor %}
{% endif %}

<!-- <div class="body-wrapper"> -->
   <!-- Begin Header Area -->
   <header>
      <!-- Begin Header Top Area -->
      <div class="header-top">
         <div class="container-fluid">
            <div class="row">
               <!-- Begin Header Top Left Area -->
               <div class="col-lg-3 col-md-4">
                  <div class="header-top-left">
                     <!-- <ul class="phone-wrap">
                        <li><span>Telephone Enquiry:</span><a href="#">(+123) 123 321 345</a></li>
                        </ul> -->
                  </div>
               </div>
               <!-- Header Top Left Area End Here -->
               <!-- Begin Header Top Right Area -->
               <div class="col-lg-9 col-md-8">
                  <div class="header-top-right">
                     {% include "oscar/partials/nav_accounts.html" %}
                  </div>
               </div>
               <!-- Header Top Right Area End Here -->
            </div>
         </div>
      </div>
      <!-- Header Top Area End Here -->
      <!-- Begin Header Middle Area -->
      <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
         <div class="container-fluid">
            <div class="row">
               <!-- Begin Header Logo Area -->
               <div class="col-lg-3">
                  <div class="col-sm-6 h3"><a href="/">{% block brand_title %}{{ shop_name }}{% endblock %}</a><small> {{ shop_tagline }}</small></div>

               </div>
               <!-- Header Logo Area End Here -->
               <!-- Begin Header Middle Right Area -->
               <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                  <!-- Begin Header Middle Searchbox Area -->
                  <form action="{% url 'search:search' %}" class="hm-searchbox" method="GET">
                     <!-- <select class="nice-select select-search-category">
                        {% category_tree as tree_categories %}
                        {% if tree_categories %}
                        {% for tree_category in tree_categories %}
                        {% if tree_category.depth ==  1 %}
                        <option value="{{ tree_category.name }}">{{ tree_category.name }}</option>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                     </select> -->
                     <input type="text" placeholder="Enter your search key ..." name="q">
                     <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                  <!-- Header Middle Searchbox Area End Here -->
                  <!-- Begin Header Middle Right Area -->
                  <div class="header-middle-right">
                     <ul class="hm-menu">
                        <!-- Begin Header Middle Wishlist Area -->
                        <li class="hm-wishlist" style="background-color: red;">
                           <!-- <a href="wishlist.html">
                              <span class="cart-item-count wishlist-item-count">0</span>
                              <i class="fa fa-heart-o"></i>
                              </a> -->
                              <a href="{% url 'offer:list' %}">
                                 <span class="cart-item-count wishlist-item-count" style="color: white;background-color: red;">offers</span>
                                 <i class="fa fa-gift" style="color: white;"></i>
                                 
                              </a>
                        </li>
                        <!-- Header Middle Wishlist Area End Here -->
                        <!-- Begin Header Mini Cart Area -->
                        <li class="hm-minicart">
                           <div class="hm-minicart-trigger">
                              <span class="item-icon"></span>
                              <span class="item-text">    
                              {% if request.basket.is_tax_known %}
                              {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                              {% else %}
                              {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                              {% endif %}
                              <span class="cart-item-count">{{request.basket.num_items}}</span>
                              </span>
                           </div>
                           <span></span>
                           <div class="minicart">
                              {% include "oscar/basket/partials/basket_quick.html" %}
                           </div>
                        </li>
                        <!-- Header Mini Cart Area End Here -->
                     </ul>
                  </div>
                  <!-- Header Middle Right Area End Here -->
               </div>
               <!-- Header Middle Right Area End Here -->
            </div>
         </div>
      </div>
      <!-- Header Middle Area End Here -->
      <!-- Begin Header Bottom Area -->
      <div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <!-- Begin Header Bottom Menu Area -->
                  <div class="hb-menu hb-menu-2 d-xl-block">
                     <nav>
                        {% category_tree as tree_categories %}
                        {% if tree_categories %}
                        <ul >
                        {% for tree_category in tree_categories %}
                        {% if tree_category.depth ==  1 %}
                        <li class="dropdown-holder">
                           <a href="{{ tree_category.url }}">
                           {% if tree_category.pk == category.pk %}
                           <strong>{{ tree_category.name }}</strong>
                           {% else %}
                           {{ tree_category.name }}
                           {% endif %}
                           </a>
                           {% elif tree_category.depth == 2 %}
                        <li class="sub-dropdown-holder">
                           <a href="{{ tree_category.url }}">
                           {% if tree_category.pk == category.pk %}
                           <strong>{{ tree_category.name }}</strong>
                           {% else %}
                           {{ tree_category.name }}
                           {% endif %}
                           </a>
                           {% else %}
                        <li>
                           <a href="{{ tree_category.url }}">
                           {% if tree_category.pk == category.pk %}
                           <strong>{{ tree_category.name }}</strong>
                           {% else %}
                           {{ tree_category.name }}
                           {% endif %}
                           </a>
                           {% endif %}
                           {% if tree_category.has_children %}
                           {% if tree_category.depth ==  1 %}
                           <ul class="hb-dropdown">
                              {% elif tree_category.depth ==  2 %}
                              <ul class="hb-dropdown hb-sub-dropdown">
                                 {% endif %}
                                 {% endif %}
                                 {% for n in tree_category.num_to_close %}
                              </ul>
                              </li>
                              {% endfor %}
                              {% endfor %}
                           </ul>
                           {% endif %}
                     </nav>
                  </div>
                  <!-- Header Bottom Menu Area End Here -->
               </div>
            </div>
         </div>
      </div>
      <!-- Header Bottom Area End Here -->
      <!-- Begin Mobile Menu Area -->
      <div class="mobile-menu-area d-lg-none d-xl-none col-12">
      <div class="container-fluid"> 
      <div class="row">
      <div class="mobile-menu">
      </div>
      </div>
      </div>
      </div>
      <!-- Mobile Menu Area End Here -->
   </header>
   <!-- Header Area End Here -->
   <!-- Begin Slider With Banner Area -->
   <!-- Begin Quick View | Modal Area -->
   <div class="modal fade modal-wrapper" id="exampleModalCenter" >
   <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
   <div class="modal-body">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
   <div class="modal-inner-area row">
   <div class="col-lg-5 col-md-6 col-sm-6">
   <!-- Product Details Left -->
   <div class="product-details-left">
   <div class="product-details-images slider-navigation-1">
   <div class="lg-image">
   <img src="images/product/large-size/1.jpg" alt="product image">
   </div>
   <div class="lg-image">
   <img src="images/product/large-size/2.jpg" alt="product image">
   </div>
   <div class="lg-image">
   <img src="images/product/large-size/3.jpg" alt="product image">
   </div>
   <div class="lg-image">
   <img src="images/product/large-size/4.jpg" alt="product image">
   </div>
   <div class="lg-image">
   <img src="images/product/large-size/5.jpg" alt="product image">
   </div>
   <div class="lg-image">
   <img src="images/product/large-size/6.jpg" alt="product image">
   </div>
   </div>
   <div class="product-details-thumbs slider-thumbs-1">                                        
   <div class="sm-image"><img src="images/product/small-size/1.jpg" alt="product image thumb"></div>
   <div class="sm-image"><img src="images/product/small-size/2.jpg" alt="product image thumb"></div>
   <div class="sm-image"><img src="images/product/small-size/3.jpg" alt="product image thumb"></div>
   <div class="sm-image"><img src="images/product/small-size/4.jpg" alt="product image thumb"></div>
   <div class="sm-image"><img src="images/product/small-size/5.jpg" alt="product image thumb"></div>
   <div class="sm-image"><img src="images/product/small-size/6.jpg" alt="product image thumb"></div>
   </div>
   </div>
   <!--// Product Details Left -->
   </div>
   <div class="col-lg-7 col-md-6 col-sm-6">
   <div class="product-details-view-content pt-60">
   <div class="product-info">
   <h2>Today is a good day Framed poster</h2>
   <span class="product-details-ref">Reference: demo_15</span>
   <div class="rating-box pt-20">
   <ul class="rating rating-with-review-item">
   <li><i class="fa fa-star-o"></i></li>
   <li><i class="fa fa-star-o"></i></li>
   <li><i class="fa fa-star-o"></i></li>
   <li class="no-star"><i class="fa fa-star-o"></i></li>
   <li class="no-star"><i class="fa fa-star-o"></i></li>
   <li class="review-item"><a href="#">Read Review</a></li>
   <li class="review-item"><a href="#">Write Review</a></li>
   </ul>
   </div>
   <div class="price-box pt-20">
   <span class="new-price new-price-2">$57.98</span>
   </div>
   <div class="product-desc">
   <p>
   <span>100% cotton double printed dress. Black and white striped top and orange high waisted skater skirt bottom. Lorem ipsum dolor sit amet, consectetur adipisicing elit. quibusdam corporis, earum facilis et nostrum dolorum accusamus similique eveniet quia pariatur.
   </span>
   </p>
   </div>
   <div class="product-variants">
   <div class="produt-variants-size">
   <label>Dimension</label>
   <select class="nice-select">
   <option value="1" title="S" selected="selected">40x60cm</option>
   <option value="2" title="M">60x90cm</option>
   <option value="3" title="L">80x120cm</option>
   </select>
   </div>
   </div>
   <div class="single-add-to-cart">
   <form action="#" class="cart-quantity">
   <div class="quantity">
   <label>Quantity</label>
   <div class="cart-plus-minus">
   <input class="cart-plus-minus-box" value="1" type="text">
   <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
   <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
   </div>
   </div>
   <button class="add-to-cart" type="submit">Add to cart</button>
   </form>
   </div>
   <div class="product-additional-info pt-25">
   <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i>Add to wishlist</a>
   <div class="product-social-sharing pt-25">
   <ul>
   <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
   <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
   <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
   <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
   </ul>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>   
   <!-- Quick View | Modal Area End Here -->
<!-- </div> -->