

{% load i18n %}

{% if form.is_bound and not form.is_valid %}
    <div class="alert alert-danger">
        <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="fas fa-exclamation"></i> {{ error }}
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Biling details</h5>
        </div>
        <div class="card-body">

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                    {{ form.first_name }}
                    <span>{{ form.first_name.errors }}</span>
                  </div>
                  <div class="form-group col-md-4">
                    
                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                    {{ form.last_name }}
                    <span>{{ form.last_name.errors }}</span>
                  </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label for="{{ form.line1.id_for_label }}">Address</label>
                        {{ form.line1 }}
                        <span>{{ form.line1.errors }}</span>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                        {{ form.phone_number}}
                        <span>{{ form.phone_number.errors }}</span>
                      </div>

                </div>


                <div class="form-row">

                    <div class="form-group col-md-3">
                        <label for="{{ form.line4.id_for_label }}">City</label>
                        {{ form.line4 }}
                        <span>{{ form.line4.errors }}</span>
                      </div>

                  <div class="form-group col-md-2">
                    
                    <label for="{{ form.postcode.id_for_label }}">Postcode</label>
                    {{ form.postcode }}
                    <span>{{ form.postcode.errors }}</span>
                  </div>

                  <div class="form-group col-md-3">
                    
                    <label for="{{ form.country.id_for_label }}">Country</label>
                    {{ form.country }}
                    <span>{{ form.country.errors }}</span>
                  </div>

                </div>
           
        </div>
      </div>
    </div>
  
    <div class="col-md-4 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Summary</h5>
        </div>
        <div class="card-body">
            {% include "oscar/basket/partials/store_basket_quick.html" %}
        </div>
      </div>
    </div>
  </div>

  {% block extrascripts %}
  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
  <script>
      $(document).ready(function(){
        $('input').addClass("form-control");
        $('select').addClass("form-control");
      });
  </script>
{% endblock %}